body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #202020;}

/* COPY */

.captions-text {
    width: 650px;
    color: #a4b0be;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    text-align: justify;}

p {
    font-size: 15px;
    line-height: 22px;}

.captions-company {
    width: 650px;
    color: #a4b0be;
    margin-left: auto;
    margin-right: auto;
    text-align: left;}

.captions a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
    text-decoration: underline;}

.captions a:hover {
    color: #1d3cf6;}

.captions a:active {
    color: #1d3cf6;}

.captions a:hover img{
    opacity: 0.8;}

.p-titles {
    font-family: Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 45px;
    color: white;
    line-height: 50px;
    width: 650px;
    margin:auto;
    text-align: left;}

.p-title {
    font-family: Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 26px;
    color: white;
    line-height: 35px;
    width: 650px;
    margin:auto;
    margin-top: 20px;
    text-align: left;}

h1 {
    font-family: Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 110px;
    padding-bottom: 150px;
    color: white;
    margin-left: -8px;}

/* LAYOUT */
    
.top {
    background-repeat: no-repeat; 
    background-image: url("background.jpg");
    background-size: 1680px 775px;
    background-position: top, center;
    height: 775px;
    display: block;
    max-width: 1680px;
    margin: 0 auto;}

.nav {
    position: absolute;
    text-align: left;
    margin-top: 54px;
    margin-left: 0px;}

.gallery {
    position: absolute;
    align-content: center;
    width: 100%;
    height: 201px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 229px;
    max-width: 1680px;
    background-color: #1d3cf6;}

.gallery a {
    display: inline-block;}

.gallery img {
    opacity: 0.1;
    margin-left: -4px;
    cursor: pointer;
    height: 201px;}

.gallery img:hover {
    opacity: 1;}

.gallery img:active {
    opacity: 1;}

.captions img {
    width: 650px;
    margin-left: auto;
    margin-right: auto;}

.x {
    margin-top: -34px;
    margin-left: 85%;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;} 

.x img {
    width: 75px;
    height: auto;}

.x-image {
    content:url("x.svg");}

.x-image:hover {
    content:url("x-.svg");}

.captions iframe {
    width: 650px;
    height: 365px;
    margin-left: auto;
    margin-right: auto;}

.dogtown-captions {
    background-color: #202020;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    display:none;}
.adteam-captions {
    background-color: #202020;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    display:none;}
.hacks-captions {
    background-color: #202020;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    display:none;}
.idean-captions {
    background-color: #202020;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    display:none;}
.nordic-captions {
    background-color: #202020;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    display:none;}
.elffe-captions {
    background-color: #202020;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    display:none;}
.dma-captions {
    background-color: #202020;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    display:none;}
.vivgo-captions {
    background-color: #202020;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    display:none;}
.about-captions {
    background-color: #202020;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    display:none;}

.dogtown {margin-top: -84px;}
.elffe {margin-top: -84px;}
.dma {margin-top: -84px;}
.vivgo {margin-top: -84px;}
.nordic {margin-top: -84px;}
.adteam {margin-top: -84px;}
.hacks {margin-top: -84px;}
.idean {margin-top: -84px;}

/* LOGOS */

.social a {
    margin-right: 20px;}

.social img {
    height: 20px;
    width: auto;}

.social-LinkedIn {
    content:url("logo-LinkedIn.png");}

.social-LinkedIn:hover {
    content:url("logo-LinkedIn-hover.png");}

.social-Vimeo {
    content:url("logo-Vimeo.png");}

.social-Vimeo:hover {
    content:url("logo-Vimeo-hover.png");}

.social-Flickr {
    content:url("logo-Flickr.png");}

.social-Flickr:hover {
    content:url("logo-Flickr-hover.png");}

.social-Instagram {
    content:url("logo-Instagram.png");}

.social-Instagram:hover {
    content:url("logo-Instagram-hover.png");}

.social-Wordpress {
    content:url("logo-Wordpress.png");}

.social-Wordpress:hover {
    content:url("logo-Wordpress-hover.png");}

/* MOBILE VIEW */

@media (max-width: 900px) {
    .top {
        background-size: auto;
        width: auto;
        height: 700px;}

    h1 {
        font-size: 75px;
        margin-left: -5px;
        padding-bottom: 140px;}

    .nav {
        margin-top: 66px;} 

    .x img {
        width: 30px;
        height: 30px;}

    .captions img {
        width: 100%;}

    .social img {
        height: 20px;
        width: auto;}

    .gallery img {
        height: 165px;
        opacity: 1;}

    .gallery img:active {
        opacity: 0.1;}

    .gallery {
        height: 165px;
        margin-top: 185px;}

    .captions-text {
        width: 85%;
        text-align: left;}

    .captions-company {
        width: 85%;}

    .p-titles {
        width: 85%;
        font-size: 30px;
        line-height: 35px;}

    .p-title {
        width: 85%;
        font-size: 22px;
        line-height: 30px;}

    .captions iframe {
        width: 85%;}

    .dogtown {margin-top: -88px;}
    .elffe {margin-top: -88px;}
    .dma {margin-top: -88px;}
    .vivgo {margin-top: -88px;}
    .nordic {margin-top: -88px;}
    .adteam {margin-top: -88px;}
    .hacks {margin-top: -88px;}
    .idean {margin-top: -88px;}
    .about {margin-top: -15px;}

}

@-ms-viewport{
  width: device-width;
}