body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f0f2fb;}

/* COPY */

.captions-text {
    color: #333333;
    font-weight: 400;
    text-align: justify;}

p {
    font-size: 13px;
    line-height: 21px;}

.captions-company {
    font-size: 13px;
    color: #B7C1D8;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;}

.captions a {
    color: #1d3cf6;
    font-weight: 700;
    text-decoration: none;}

.captions a:hover {
    color: #333333;}

.captions a:active {
    color: #333333;}

.p-titles {
    font-family: Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 45px;
    color: black;
    line-height: 52px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;}

h1 {
    font-family: Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 100px;
    color: #f0f2fb;
    margin: 0px;}

/* LAYOUT */
    
.top {
    background-size: 1280px 700px;
    background-position: top, center;
    height: 700px;
    display: block;
    max-width: 1280px;
    margin: 0 auto;}

.name {
    position: absolute;
    margin-left: 30px;
    margin-top: 257px;}

.gallery {
    position: absolute;
    align-content: center;
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    background-color: #1d3cf6;}

.gallery1 {
    margin-top: 0px;}

.gallery2 {
    margin-top: 350px;}

.gallery1mobile {
    display: none;}

.gallery2mobile {
    display: none;}

.gallery3mobile {
    display: none;}

.gallery a {
    display: inline-block;}

.gallery img {
    opacity: 0.1;
    margin-left: -4px;
    cursor: pointer;
    height: 350px;}

.gallery img:hover {
    opacity: 1;}

.gallery img:active {
    opacity: 1;}

.captions img {
    width: 100%;}

.captions iframe {
    width: 100%;}

.x {
    margin-top: 30px;
    margin-left: 90%;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;} 

.x img {
    width: 50px;
    height: auto;}

.x-image {
    content:url("x.svg");}

.x-image:hover {
    content:url("x-.svg");}

.captions {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f0f2fb;}

.dogtown-captions {
    display: none;}
.adteam-captions {
    display: none;}
.hacks-captions {
    display: none;}
.idean-captions {
    display: none;}
.nordic-captions {
    display: none;}
.elffe-captions {
    display: none;}
.dma-captions {
    display: none;}
.vivgo-captions {
    display: none;}

.nordic {
    margin-left: 30px;;
    width: 45%;}
.vivgo {
    margin-left: 30px;;
    width: 45%;}
.dma {
    margin-left: 30px;;
    width: 45%;}
.elffe {
    margin-left: 30px;;
    width: 45%;}
.idean {
    margin-left: 30px;;
    width: 45%;}
.hacks {
    margin-left: 30px;;
    width: 45%;}
.adteam {
    margin-left: 30px;;
    width: 45%;}
.dogtown {
    margin-left: 30px;;
    width: 45%;}
.about {
    margin-left: 30px;;
    width: 45%;
    margin-top: 60px;}

/* LOGOS */

.social a {
    margin-right: 20px;}

.social img {
    height: 20px;
    width: auto;}

.social {
    padding-top: 10px;
    padding-bottom: 20px;}

/* MOBILE VIEW */

@media (max-width: 500px) {

    h1 {
        font-size: 60px;
        color: #f0f2fb;}
    
    .top {
        height: 600px;
        max-width: 500px;}
    
    .name {
        position: absolute;
        margin-left: -5px;
        margin-top: 345px;}
    
    .x img {
        width: 30px;
        height: 30px;}
    
    .x {
        margin-top: 30px;
        margin-left: 85%;
        position: -webkit-sticky;
        position: sticky;
        top: 40px;} 

    .captions img {
        width: 100%;}

    .social img {
        height: 20px;
        width: auto;}

    .gallery img {
        opacity: 0.1;
        height: 200px;}
    
    .gallery {
        height: 200px;
        max-width: 500px;}
    
    .gallery1 {
        display: none;}
    
    .gallery2 {
        display: none;}
    
    .gallery1mobile {
        display: block;
        margin-top: 0px;}

    .gallery2mobile {
        display: block;
        margin-top: 200px;}
    
    .gallery3mobile {
        display: block;
        margin-top: 400px;}

    .captions-text {
        width: 85%;
        text-align: justify;}

    .captions-company {
        width: 85%;}

    .p-titles {
        width: 85%;
        font-size: 30px;
        line-height: 35px;}

    .p-title {
        width: 85%;
        font-size: 22px;
        line-height: 30px;}

    .captions iframe {
        width: 85%;}
    
    .nordic {
        margin-left: 20px;;
        width: 90%;}
    .vivgo {
        margin-left: 20px;;
        width: 90%;}
    .dma {
        margin-left: 20px;;
        width: 90%;}
    .elffe {
        margin-left: 20px;;
        width: 90%;}
    .idean {
        margin-left: 20px;;
        width: 90%;}
    .hacks {
        margin-left: 20px;;
        width: 90%;}
    .adteam {
        margin-left: 20px;;
        width: 90%;}
    .dogtown {
        margin-left: 20px;;
        width: 90%;}
    .about {
        margin-left: 20px;;
        width: 90%;
        margin-top: 40px;}

}

@-ms-viewport{
  width: device-width;
}