body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;}

/* COPY */

.captions-text {
    color: #0e0e0e;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    letter-spacing: 0.2px;}

p {
    font-size: 14px;
    line-height: 22px;}

.captions-label {
    font-size: 14px;
    color: #0e0e0e;
    text-transform: none;
    font-weight: 700;
    text-align: center;
    margin-bottom: 14px;
    letter-spacing: 0.5px;}

.gallery-label {
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.1px;
    text-transform: none;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 0.5px;}

p a {
    color: #1d3cf6;
    font-weight: 700;
    text-decoration: none;
    opacity: 1;}

p a:hover {
    opacity: 0.9;}

p a:active {
    opacity: 0.9;}

.captions-headline {
    font-family: Helvetica Neue, Sans-Serif;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    line-height: 38px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;}

.gallery-headline {
    font-family: Helvetica Neue, Sans-Serif;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.2px;
    color: #ffffff;
    line-height: 38px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 40px;
    padding-left: 40px;}

/* IMAGES */

.social-item img {
    height: 100%;
    width: auto;}

.gallery-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 100%;}

.gallery-item:hover img {
    opacity: 0%;}

.gallery-item-active a img {
    opacity: 0%;}

.captions img {
    width: 100%;
    padding-bottom: 15px;}

.captions iframe {
    width: 100%;
    padding-bottom: 15px;}

.x img {
    width: 20px;
    height: 20px;
    padding-bottom: 0px;}

.x-image {
    content:url("x.svg");
    opacity: 1;}

.x-image:hover {
    opacity: 0.8;}

/* LAYOUT */
    
.top {
    width: calc(100% - 40px);
    background-position: top, center;
    margin: 0px 20px 0px 20px;}

.home {
    background-size: 1320px auto;
    background-position: top, center;
    display: block;
    max-width: 1320px;
    margin: 0 auto;}

.about {
    width: 100%;
    padding-top: 80px;
    margin: 0 0 80px 0;}

.social-container {
    display: flex;
    justify-content: center;}

.social-item {
    height: 20px;
    width: auto;
    position: relative;}

.mail{
    margin-right: 14px;}

.social-item a {
    height: 100%;
    width: auto;
    opacity: 1;
    color: #1d3cf6;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;}

.social-item a:hover {
    opacity: 0.9;}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: stretch;
    position: relative;
    align-content: flex-start;}

.gallery-item {
    width: 400px;
    height: 400px;
    background: #1d3cf6;
    position: relative;
    margin: 20px 20px 60px 20px;}

.gallery-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;}

.gallery-item:hover .gallery-text {
    z-index: 2;}

.gallery-item-active .gallery-text {
    z-index: 2;}

.x {
    display: flex;
    padding: 0px 55px 5px 55px;
    justify-content: flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;} 

.modal {
    position: fixed;
    display: none;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(183, 192,216,0.9);}

.captions {
    background-color: #ffffff;
    margin: 0 auto;
    width: 900px;}

.inside {
    padding: 50px 0px 0px 0px;}

.captions-copy {
    margin: 0px 140px 40px 140px;}

.captions-images {
    padding: 50px 140px 35px 140px;
    margin-bottom: 40px;
    background-color: #f1f2fa;}

.dogtown-captions {
    display: none;}
.adteam-captions {
    display: none;}
.hacks-captions {
    display: none;}
.idean-captions {
    display: none;}
.nordic-captions {
    display: none;}
.elffe-captions {
    display: none;}
.dma-captions {
    display: none;}
.vivgo-captions {
    display: none;}

/* RESPONSIVE VIEW */

@media (max-width: 1360px) {

.gallery-container {
    justify-content: center;}
    
}

@media (max-width: 960px) {
    
    .about .captions-headline {
        font-size: 40px;
        line-height: 48px;
        margin-top: 0px;
        margin-bottom: 40px;}
    
    .gallery-item img {
        opacity: 14%;}
    
    .gallery-text {
        z-index: 2;}
    
    .gallery-item {
        width: calc(100%);
        height: calc(100vw - 0px);
        margin: 0px 0px 14px 0px;}

    .social-item {
        height: 24px;}
    
    .about {
        padding-top: 50px;
        margin: 0 0 40px 0;}
    
    .top {
        width: 100%;
        margin: 0px 0px 0px 0px;}
    
    .captions {
        width: 100%;}
    
    .x {
        padding: 20px 20px 10px 20px;
        top: 0px;
        background: #ffffff;}
    
    .captions-copy {
        margin: 0px 30px 30px 30px;}
    
    .captions-text {
        text-align: center;}

    .captions-images {
        padding: 10px 20px 25px 20px;
        margin-bottom: 0px;
        background-color: #ffffff;}
    
    .captions img {
        padding-bottom: 5px;}

    .captions iframe {
        padding-bottom: 5px;}
    
    .inside {
        padding: 0px 0px 0px 0px;}

    .x-image {
        content:url("x.svg");
        opacity: 1;}

}

@-ms-viewport{
  width: device-width;
}